body{
    font-family:'Times New Roman', Times, serif;
    --detail-dark: #231F20;
    --project-columns: 4;
    --active-project: -1;
    --body-width: 100%;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
}

:root {
    font-size: 18px;

    @media(max-width: 500px){
        font-size: 18px;
    }
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

::selection{
    background-color: var(--detail-dark);
    color: white;
}

#landing{
    width: 70vw;
    position: relative;
    left: 15vw;
    display: flex;
    padding-top: 5%;
    justify-content: center;
}

#landing-wordmark{
    width: 50%;
    height: auto;
}

#landing-info{
    width: 50%;
    padding-top: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#info-blurb{
    text-align: center;
}

#landing-links{
    display:flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.icon{
    fill: var(--detail-dark);
}

.landing-link{
    display: flex;
    flex-direction: row;
    align-items:end;
    font-size: 1.2rem;
    color: var(--detail-dark);
    padding-top: .2rem;
    padding-right: 30px;
    padding-bottom: 2px;
    height: min-content;
    transition-duration: 100ms;
    transition-property: padding, font-size;
    /* text-decoration: none;
    border-bottom: 1px solid var(--detail-dark); */
}

.landing-link:hover{
    font-size: 1.3rem;
    padding-top: .1rem;
    filter: brightness(0.5);
}

.landing-link .icon{
    /* padding-right: 5px; */
    width: 30px;
}

.big-button{
    background: var(--detail-dark);
    font-size: 1.3rem;
    color: white;
    padding: 2%;
    margin-bottom: 2%;
    border: 2px solid white;
    transition-duration: 100ms;
    transition-property: all;
}

.big-button:hover{
    background: none;
    color: var(--detail-dark);
    border: 2px solid var(--detail-dark);
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#projects{
    display: flex;
    flex-direction: column;
    width: 80%;
    left: 10vw;
    position: relative;
    margin-top: 10%;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    box-sizing: border-box;
}

#projects-title{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--detail-dark);
    padding-bottom: 1%;
}

#projects-container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-between;
    margin-bottom: 5%;
}

.project-card {
    /* border: 4px solid var(--detail-dark); */
    aspect-ratio: 1/1;
    --border-radius-ifexists: 10px;
    border-radius: var(--border-radius-ifexists);
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    transition-duration: 100ms;
    transition-property: width, aspect-ratio;
    justify-self: center;
    position: relative;
}

.project-card-contents{
    border-radius: inherit;
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 600;
}

.project-card:hover{
    width: 110%;
    aspect-ratio: 1.1/1;
}

.project-card.active-project{
    aspect-ratio: 1/1.1 !important;
    border-radius: var(--border-radius-ifexists) var(--border-radius-ifexists) 0 0;
    margin-bottom: -2px;
    box-shadow: none
}

.project-card-back{
    content: "";
    --border-width: 2px;
    width: calc(100% + 2*var(--border-width));
    height: calc(100% + 2*var(--border-width));
    --border-radius-ifexists: calc(10px + var(--border-width));
    background: var(--detail-dark);
    z-index: 10;
    border-radius: var(--border-radius-ifexists);
    /* box-shadow: 0px 0px 5px -1px var(--detail-dark); */
    position: absolute;
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
}

.project-card.active-project .project-card-back{
    border-radius: var(--border-radius-ifexists) var(--border-radius-ifexists) 0 0;
}

.project-card.active-project:hover{
    aspect-ratio: 1/1 !important;
}

.project-card-contents img{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.project-card-title{
    width: 100%;
    text-align: center;
    margin: 0;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#project-details{
    width: 100vw;
    position: relative;
    margin-left: -10vw;
    background:#231F20;
    grid-column: 1 / span var(--project-columns);
    padding-top: 2px;
    padding-bottom: 2px;
    height: 0vw;
    display: none;
}

#project-details-contents{
    position: relative;
    width: 100%;
    height: 100%;
    background:white;
    z-index: 100;
}

#project-details.visible{
    height: 10vw;
    transition: 100ms height;
}

.visible{
    display: block !important;
}

@media(max-aspect-ratio: 16/10 ){
    #landing{
        flex-direction: column;
        align-items: center;
    }
    #landing-wordmark{
        width: 80%;
    }
    #landing-info{
        width: 80%;
        padding-top: 5%;
    }

    #projects-container{
        grid-template-columns: 30% 30% 30%;
    }

    body{
        --project-columns: 3;
    }
}

@media(max-aspect-ratio: 11/10), (max-height: 1.1vw){
    #projects-container{
        grid-template-columns: 45% 45%;
    }

    body{
        --project-columns: 2;
    }
}


@media(max-aspect-ratio: 75/100), (max-height: 0.75vw){
    #projects-container{
        grid-template-columns: 100%;
    }

    body{
        --project-columns: 1;
    }
}

/* so that it reveals on sideways phones */
@media(min-aspect-ratio: 21/10), (max-height: 400px){
    #projects{
        margin-top: 2%;
    }

    #landing{
        padding-top: 0%;
    }
};