body{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    --detail-dark: #231F20;
}

::selection{
    background-color: var(--detail-dark);
    color: white;
}

#landing{
    width: 70vw;
    position: relative;
    left: 15vw;
    display: flex;
    padding-top: 5%;
}

#landing-wordmark{
    width: 50%;
    height: auto;
}

#landing-info{
    width: 50%;
    padding-top: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#landing-links{
    display:flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.icon{
    fill: var(--detail-dark);
}

.landing-link{
    display: flex;
    flex-direction: row;
    align-items:end;
    font-size: 20px;
    color: var(--detail-dark);
    padding-top: 4px;
    padding-bottom: 2px;
    width: min-content;
    transition-duration: 100ms;
    transition-property: padding, font-size;
    /* text-decoration: none;
    border-bottom: 1px solid var(--detail-dark); */
}

.landing-link:hover{
    font-size: 22px;
    padding-top: 2px;
    filter: brightness(0.5);
}

.landing-link .icon{
    /* padding-right: 5px; */
    width: 30px;
}

.big-button{
    background: var(--detail-dark);
    font-size: 24px;
    color: white;
    padding: 2%;
    margin-bottom: 2%;
    border: 2px solid white;
    transition-duration: 100ms;
    transition-property: all;
}

.big-button:hover{
    background: none;
    color: var(--detail-dark);
    border: 2px solid var(--detail-dark);
    padding-left: 2.5%;
    padding-right: 2.5%;
}

@media(max-aspect-ratio: 1.6/1){
    #landing{
        flex-direction: column;
        align-items: center;
    }
    #landing-wordmark{
        width: 80%;
    }
    #landing-info{
        width: 80%;
        padding-top: 5%;
    }
}